
@import url('https://fonts.googleapis.com/css?family=Bad+Script|Cambo|Marck+Script|Roboto:300,300i,400,400i,500,500i,700,700i,900');

body{
	font-family: 'Muli', sans-serif;
	font-size: 14px;
	color: #333;	
}

header{
	background-color: rgba(235,235,235,1.00);
	padding: 20px 0;
}

.header-area.sticky{
	box-shadow: 0 4px 10px rgb(0,0,0,0.1);
	width: 100%;
	height: 14%;
	position: fixed;
	top: 0;
	z-index: 99;
}

.header-area.navbar-default{
	backgroung-color: rgba(235,235,235,1.00);
}
#sec-slide1{
	padding: 220px 0px;
	background-image: url(../img/dinner-table-444434_1920.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
	width: auto;
}

#sec-slide1 h2{
	text-align: right;
	margin: 3% 2%;
	font-size: 58px;
	font-family: 'Bad Script', cursive, sans-serif;
	color:#FFFFFF;
	font-weight: bold;
}
h1,h2,h4{
	font-family: 'Cambo', serif;
	text-align: center;
	color: #432525;
	text-transform: uppercase;
}
#sec-services{
	margin-top: 5%;
	padding: 20px 0px;
	text-align: justify;
}

#sec-services img{
	padding: 5px 0px;
	height: auto;
}

#sec-services p{
	font-size: 18px;
}

#sec-formulario{
	margin-top: 3%;
	padding: 0px 0px;
}

#sec-formulario h2{
	text-align: center;
	color: #432525;
	text-transform: uppercase;
}

#sec-formulario p{
	text-align: center;
	color:#151515;
	font-size: 18px;
}

.formulario{
	background-color: #EDEDED;
	margin: 5px 5px;
	padding: 4% 4%;
	border-radius: 20px;
}
.form-group label{
	color: #1F110E;
	font-weight: bold;
	font-size: 14px;
}

.form-group input{
	background-color: white;
	border: 0.5px solid #AFAFAF;
}

.form-group textarea{
	background-color: white;
	border: 0.5px solid #AFAFAF;
}

#about{
	margin-top: 5%;
	padding: 10px 0px 0px;
	text-align: justify;
}

#about p{
	font-size: 18px;
}

#sec-outro{
	align-items: center;
	background-attachment: fixed;
	background-color: #062C33;
	height: auto;
	margin: 5% 0%;
	text-align: center;
}
#sec-outro h2{
	color: rgba(255,255,255,1.00);
	padding: 30px 0px;
}

#sec-outro p{
	color: white;
	font-size: 16px;
}
#sec-linkmenu{
	text-align: center;
	margin-top: 2%;
	padding: 10px 0px 0px 0px;
}
#sec-linkmenu p{
	text-transform: uppercase;
}

#sec-linkmenu a{
	font-size: 18px;
}

.btn{
	color: white;
}

.btn-medilab:hover{
	background-color: white;
	color: #432525;
	border: solid 2px #432525; 
}
.btn-medilab{
	background-color: #432525;
	border-color: #432525;
	color: white;
	margin: 20px 0px;
}

#direccion{
	margin-top: 5%;
	padding: 0px 0px;
	text-align: justify;
}

#direccion p{
	font-size: 18px;
}

footer{
 	background-color: #432525;
	color: #FDFCFC;
	text-align: center;
	
}

#sec-data h3{
	text-align: center;
	font-size: 12px;
}

i{	
	padding: 0px 10px 0px 4px;
	height: 20px;
}

.map_container{
	background-color:#F0F0F0;
	border: 2px solid #DDD;
	padding:5px;	
}
#map{
	width:100%;
	height:auto;
}

/*media xs*/
@media(max-width:480px){
	#sec-slide1{
		padding: 140px 0px;
	}
	#sec-slide1 h2{
		font-size: 45px
	}
	h2{
		font-size: 25px;
	}
	#sec-services p{
		font-size: 14px;
	}
	#sec-formulario p{
		font-size: 14px;
	}
	#about p{
		font-size: 14px;
	}
	#direccion p{
		font-size: 14px;
	}
	#sec-outro p{
		font-size: 14px;
		margin-bottom: 15px;
	}
	.header-area.sticky{
	box-shadow: 0 4px 10px rgb(0,0,0,0.1);
	width: 100%;
	height: 17.5%;
	position: fixed;
	top: 0;
	z-index: 99;
}
}

/*media ms*/
@media(min-width:480px) and (max-width:768px){
	#sec-slide1{
		padding: 170px 0px;
	}
	#sec-slide1 h2{
		font-size: 50px
	}
	h2{
		font-size: 30px;
	}
	#sec-services p{
		font-size: 16px;
	}
	#sec-formulario p{
		font-size: 16px;
	}
	#about p{
		font-size: 16px;
	}
	#direccion p{
		font-size: 16px;
	}
	#sec-outro p{
		font-size: 16px;
		margin-bottom: 20px;
	}
	.header-area.sticky{
	box-shadow: 0 4px 10px rgb(0,0,0,0.1);
	width: 100%;
	height: 16.5%;
	position: fixed;
	top: 0;
	z-index: 99;
}
}